@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary: hsl(318, 16%, 29%);
  --secondary: hsl(318, 16%, 52%);
  --primary-text: hsl(230, 64%, 91%);
  --warning: hsl(39, 92%, 57%);
  --success: hsl(105, 26%, 61%);
  --primary-input: hsl(230, 61%, 88%);
  --container-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  --bg-overlay: rgba(255, 255, 255, 0.1);
  --end-game-btn: var(--primary-text);
}

/* ----------------------- */
/* ---- Global Styles ---- */
/* ----------------------- */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
  color: var(--primary-text);
  min-height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.btn {
  background-color: transparent;
  color: var(--primary-text);
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  border: 1.5px solid var(--primary-text);
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: 0 0 0 1px var(--secondary), 0 0 2px 2px var(--primary-text);
}

.no-click {
  pointer-events: none;
}

.success {
  color: var(--success);
}

.warning {
  color: var(--warning);
}

/* ---------------------- */
/* ---- Input Styles ---- */
/* ---------------------- */

option {
  background-color: var(--primary);
}

::-webkit-input-placeholder {
  color: var(--primary-text);
  opacity: 0.7;
}
:-moz-placeholder {
  color: var(--primary-text);
  opacity: 0.7;
}
::-moz-placeholder {
  color: var(--primary-text);
  opacity: 0.7;
}
:-ms-input-placeholder {
  color: var(--primary-text);
  opacity: 0.7;
}
::-ms-input-placeholder {
  color: var(--primary-text);
  opacity: 0.7;
}

.duration-select,
.theme-select,
.text-input {
  width: 100%;
  max-width: 300px;
  border: 1.5px solid var(--primary-input);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  appearance: none;
  background-color: transparent;
  color: var(--primary-input);
}

.duration-select:focus,
.theme-select:focus,
.text-input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--secondary), 0 0 2px 2px var(--primary-input);
}

.text-input {
  color: var(--primary-text);
  padding: 0.75rem 1.25rem;
  margin-top: 0.625rem;
}

/* ----------------------- */
/* ---- Header styles ---- */
/* ----------------------- */

.header,
.footer {
  width: 100%;
  background-color: var(--bg-overlay);
  height: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.4s ease-in-out;
}

.header.hide {
  opacity: 0;
}

/* ------------------------------- */
/* ---- Test container styles ---- */
/* ------------------------------- */

.test-container {
  position: relative;
  background-color: var(--secondary);
  padding: 1.25rem;
  border-radius: 5px;
  position: relative;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: var(--container-shadow);
}

.start-btn {
  margin: 1rem;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.test-container h3 {
  margin-block: 1rem;
}

.word {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.5rem;
}

.test-container.start::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 5px;
  pointer-events: none;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.test-container.start::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 5px;
  pointer-events: none;
  font-size: 5rem;
  background-color: transparent;
  color: var(--primary-input);
  opacity: 0.8;
  animation: countdown 3.4s linear;
}

@keyframes countdown {
  0% {
    content: '3';
  }
  33% {
    content: '2';
  }
  66.6% {
    content: '1';
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

/* -------------------------------- */
/* ---- Chart container styles ---- */
/* -------------------------------- */

.chart-container {
  background-color: var(--bg-overlay);
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 1.25rem;
  box-shadow: var(--container-shadow);
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats p {
  font-size: 0.75rem;
  padding: 0.5rem 0 0;
}

.settings-btn {
  padding: 0.5rem 0.75rem;
}

/* -------------------------------------------- */
/* ---- Game end container styles ---- */
/* -------------------------------------------- */

.end-game-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--end-game-btn);
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  top: -12.5%;
  left: -12.5%;
  width: 125%;
  height: 125%;
  z-index: 1;
}

.end-game-container .btn {
  color: var(--end-game-btn);
  border-color: var(--end-game-btn);
}

/* ----------------------- */
/* ---- Footer styles ---- */
/* ----------------------- */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent;
  margin: 0;
}

/* -------------------------------------------- */
/* ---- Media queries ---- */
/* -------------------------------------------- */

@media (max-width: 625px) {
  :root {
    font-size: 75%;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 62.5%;
  }
}
