@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary: #563e4f;
  --primary-container: hsl(319, 16%, 27%);
  --primary-text: #d9def7;
  --secondary: #98718c;
  --accent: #ced4f3;
  --warning: #f6b02c;
  --success: #8fb582;
  --chart-text: #dadff7;
  --chart-primary: #f7f7ee;
  --chart-secondary: #c99cc6;
  --chart-point: #553e4e;
  --overlay: rgba(0, 0, 0, 0.8);
  --container-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  --focus-shadow: 0px 7.5px 10px -5px var(--primary-text);
  --focus-accent-shadow: 0px 7.5px 10px -5px var(--accent);
  --container-border: 1px solid var(--clr-border);
}

/* ----------------------- */
/* ---- Global Styles ---- */
/* ----------------------- */

body {
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(45deg, var(--secondary), var(--primary-container)); */
  background-color: var(--primary-container);
  color: var(--primary-text);
  min-height: 100%;
  margin: 0;
}

svg {
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  background-color: transparent;
  color: var(--accent);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  border: 1.5px solid var(--accent);
  transition: transform 0.2s ease-in-out;
}

.icon-btn {
  padding: 0.5em 0.75em;
  font-weight: 400;
}

.btn-warning {
  color: var(--warning);
  border-color: var(--warning);
}

.btn:hover {
  transform: scale(1.15);
}

.hidden {
  display: none;
}

.success {
  color: var(--success);
}

.warning {
  color: var(--warning);
}


/* ---------------------- */
/* ---- Input Styles ---- */
/* ---------------------- */

option {
  background-color: var(--primary);
}

.header-select,
.text-input {
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  min-width: 8rem;
  max-width: 16rem;
  border: 1.5px solid var(--primary-text);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  appearance: none;
  background-color: transparent;
  color: var(--primary-text);
}

.header-select:focus,
.start-btn:focus {
  outline: none;
  box-shadow: var(--focus-accent-shadow);
}

.text-input:focus,
.icon-btn:focus {
  outline: none;
  box-shadow: var(--focus-shadow);
}
.text-input {
  color: var(--primary-text);
  padding: 0.75rem 1.25rem;
  border: 1.5px solid var(--accent);
  border-radius: 5px;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1em;
}

.select-label {
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--accent);
  opacity: 0.8;
}

/* ----------------------- */
/* ---- Header styles ---- */
/* ----------------------- */

.header {
  position: relative;
  width: 95%;
  max-width: 750px;
  background-color: var(--primary-container);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em auto 3em;
  padding: 1.5em;
  box-shadow: var(--container-shadow);
  transition: transform 0.4s ease-in-out;
  border: var(--container-border);
}

.header.slide {
  transform: translateY(-200%);
}

.brand {
  font-family: 'Roboto Mono', sans-serif;
  opacity: 0.8;
}

.brand span {
  color: var(--accent);
}

.version {
  font-size: 1rem;
  color: var(--accent);
}

/* ------------------------------- */
/* ---- Test container styles ---- */
/* ------------------------------- */

.test-container {
  position: relative;
  width: 90%;
  max-width: 500px;
  background-color: var(--secondary);
  text-align: center;
  border-radius: 5px;
  padding: 1.25rem;
  box-shadow: var(--container-shadow);
  border: var(--container-border);
}

.start-btn {
  background-color: transparent;
  color: var(--primary-text);
  border-color: var(--primary-text);
}

.cancel-btn {
  background-color: transparent;
  color: var(--accent);
  border-color: var(--primary-text);
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.test-container h3 {
  font-family: 'Roboto Mono', sans-serif;
  margin-block: 1em;
}

.time-container,
.score-container {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  opacity: 0.8;
}

.word {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.5rem;
}

/* -------------------------------- */
/* ---- Chart container styles ---- */
/* -------------------------------- */

.chart-container {
  position: relative;
  background-color: var(--primary-container);
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 1.25em;
  box-shadow: var(--container-shadow);
  margin-bottom: 0;
  border: var(--container-border);
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats p {
  font-size: 0.75rem;
  padding-top: 0.5em;
}

/* -------------------------------------------- */
/* ---- Game end container styles ---- */
/* -------------------------------------------- */

.end-game-container {
  background-color: var(--overlay);
  color: var(--primary-text);
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  top: -12.5%;
  left: -12.5%;
  width: 125%;
  height: 125%;
  z-index: 1;
}

/* ----------------------- */
/* ---- Footer styles ---- */
/* ----------------------- */

.footer {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 1em;
}

/* ---------------------- */
/* ---- Modal styles ---- */
/* ---------------------- */

.confirmation-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--primary-container);
  color: var(--primary-text);
  border: 2px solid var(--accent);
  border-radius: 5px;
  box-shadow: var(--container-shadow);
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
  gap: 2em;
}

.modal-muted {
  color: var(--accent);
  font-size: 0.875rem;
}

.flex-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}



/* ----------------------- */
/* ---- Media queries ---- */
/* ----------------------- */

@media (max-width: 625px) {
  :root {
    font-size: 75%;
  }
}

@media (max-width: 720px) {
  .brand {
    font-size: 1.5rem;
  }
  .version {
    font-size: 0.75rem;
  }

  .header-select, .select-label {
    font-size: 0.75rem;
    min-width: 75px;
  }
}

@media (max-width: 350px) {
  :root {
    font-size: 62.5%;
  }
}
