@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary: #006064;
  --primary-text: #e5ffff;
  --secondary: #428e92;
  --success: #00363a;
  --warning: #b71c1c;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
  color: var(--primary-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  background-color: var(--primary-text);
  color: var(--primary);
  cursor: pointer;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  border: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

p {
  margin: 0.5rem;
}

select,
input[type='text'] {
  width: 200px;
  border: 0;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 0.25rem;
  appearance: none;
  background-color: var(--primary-text);
  color: var(--primary);
}

input[type='text'] {
  padding: 0.75rem 1.25rem;
  width: 300px;
  margin-top: 0.625rem;
}

select:focus,
button:focus,
input[type='text']:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--primary), 0 0 0 2px var(--primary-text);
}

.settings-btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.start-btn {
    margin-left: 1rem;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}

.settings.hide {
  transform: translateY(-100%);
}

.container {
  background-color: var(--secondary);
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  text-align: center;
  width: 500px;
}

.container h2 {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 2.5rem;
}

.score-container {
  position: absolute;
  top: 60px;
  right: 20px;
}

.time-container {
  position: absolute;
  top: 60px;
  left: 20px;
}

.end-game-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: -12.5%;
    left: -12.5%;
    width: 125%;
    height: 125%;
    z-index: 1;
}

.success {
    color: var(--success);
}

.warning {
    color: var(--warning);
}