.two-buck-chuck {
    --primary: #553e4e;
    --primary-container: #503a49;
    --secondary: #98718c;
    --accent: #f6a2b1;
    --primary-text: #eaedfa;
    --warning: #f6ae2d;
    --success: #8db580;
    --chart-text: #dadff7;
    --chart-primary: #f7f7ee;
    --chart-secondary: #c99cc6;
    --chart-point: #553e4e;
  }
  
  .light-side {
    --primary: #d8e2dc;
    --primary-container: #a7beb0;
    --secondary: #ffe5d9;
    --accent: #6e876e;
    --primary-text: #735960;
    --success: #849a84;
    --warning: #ec6f81;
    --chart-text: #735960;
    --chart-primary: #f0f4f2;
    --chart-secondary: #f8daa5;
    --chart-point: #6e876e;
    --end-game-btn: var(--primary);
    --focus-shadow: rgba(0, 0, 0, 0.4);
  }
  
  .indigo-khaki {
    --primary: #153b50;
    --primary-container: #102d3c;
    --secondary: #1a4861;
    --accent: #878aab;
    --primary-text: #cfb9a5;
    --success: #d9b726;
    --warning: #a5392a;
    --chart-text: #cfb9a5;
    --chart-primary: #869cac;
    --chart-secondary: #878cc5;
    --chart-point: #153b50;
  }
  
  .independent-coral {
    --primary: #323848;
    --primary-container: #3f465a;
    --secondary: #495b55;
    --accent: #ed9390;
    --primary-text: #a2c3a4;
    --success: #8ce481;
    --warning: #ed9390;
    --chart-text: #a2c3a4;
    --chart-primary: #ed9390;
    --chart-secondary: #c4f1be;
    --chart-point: #495b55;
  }
  
  .vinyard {
    --primary: #423856;
    --primary-container: #473c5d;
    --secondary: #726194;
    --accent: #619e91;
    --primary-text: #babaf3;
    --success: #c4ebc8;
    --warning: #ee6c4d;
    --chart-text: #babaf3;
    --chart-primary: #619e91;
    --chart-secondary: #ada2c3;
    --chart-point: #423856;
  }
  
  .nord {
    --primary: #2e3140;
    --primary-container: #3c4053;
    --secondary: #484f62;
    --accent: #e0b1df;
    --primary-text: #7d92a3;
    --success: #7a9d7f;
    --warning: #bd5d6b;
    --chart-text: #7d92a3;
    --chart-primary: #eecd9a;
    --chart-secondary: #79b6d3;
    --chart-point: #2e3140;
  }
  
  .solarized-dark {
    --primary: #00232c;
    --primary-container: #003d4d;
    --secondary: #114952;
    --accent: #3787c4;
    --primary-text: #268985;
    --success: #d9b726;
    --warning: #a5392a;
    --chart-text: #268985;
    --chart-primary: #7b519d;
    --chart-secondary: #d9b726;
    --chart-point: #00232c;
  }
  